@model MoneyMinder.Net.Models.Fund

@{
    ViewData["Title"] = "Fund - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create">
    <div class="form-horizontal">
        <h2>Add a new Fund</h2>
        <hr />

        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">

            <label asp-for="Name" class="col-md-2 control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>

            <label asp-for="Minimum" class="col-md-2 control-label">Minimum (optional)</label>
            <input asp-for="Minimum" class="form-control" />
            <span asp-validation-for="Minimum"></span>

            <label asp-for="Goal" class="col-md-2 control-label">Goal (optional)</label>
            <input asp-for="Goal" class="form-control" />
            <span asp-validation-for="Goal"></span>
            <span class="col-md-2"></span>

        </div>
        <input class="btn btn-default" type="submit" value="Create" />

    </div>
</form>
