@model MoneyMinder.Net.Models.Category

@{
    ViewData["Title"] = "Category - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete this category?</h2>
<hr />
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    <input class="btn btn-danger" type="submit" value="Delete" />
}