@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MoneyMinder.Net.ViewModels

@model LoginViewModel

<form asp-action="Login">
    <div class="form-horizontal">
        <h3>Login</h3>
        <hr />

        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">

            <label asp-for="Email" class="col-md-2 control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>

            <label asp-for="Password" class="col-md-2 control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
            <span class="col-md-2"></span>


        </div>
        <input class="btn btn-default" type="submit" value="Log in" />

    </div>
</form>

<p>@Html.ActionLink("Register for an account", "Register")</p>
