@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MoneyMinder.Net.ViewModels

@using SaraHamilton.ViewModels

@model RegisterViewModel

<form asp-action="Register">
    <div class="form-horizontal">
        <h3>Register</h3>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">

            <label asp-for="Email" class="col-md-2 control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <label asp-for="Password" class="col-md-2 control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <span class="col-md-2"></span>

        </div>
        <input class="btn btn-default" type="submit" value="Register" />

    </div>
</form>
